<div class="bg_div h-screen">
    <app-header></app-header>
    <div class="w-full flex justify-center items-center">
        <div class="mt-28 md:w-2/4 w-3/4 lg:w-1/4 bg-black h-[550px] rounded-lg">
            <div class="flex flex-col p-12">
                <h2 class="font-semibold text-white text-3xl mb-4">Sign In</h2>
                <form (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="mt-4">
                    <input type="text" placeholder="Email or phone number" [(ngModel)]="email" name="email" class="text-[#807F81] bg-[#343334] md:px-4 px-2 py-4 rounded-sm w-full"/>
                </div>
                <div class="mt-4">
                    <input type="password" placeholder="Password" [(ngModel)]="password" name="password" class="text-[#807F81] bg-[#343334] md:px-4 px-2 py-4 rounded-sm w-full"/>
                </div>
                <div class="flex justify-center items-center cursor-pointer bg-[#DF0915] mt-12 p-4 rounded-sm">
                    <button class="text-white font-semibold">Sign In</button>
                </div>
            </form>
                <div class="text-[#807F81] mt-10 flex flex-col justify-between h-[100px]">
                    <div>
                        <p>Need Help?</p>
                        <p>New to Netflix?<span class="font-semibold text-white"> Sign Up now</span></p>
                    </div>
                    <div class="text-center">
                        <p>Praz exclusive limited</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
